/* Переменные */
:root {
    --color-green: #76bc21;
    --color-white: #fff;
    --background-black-opasity: rgb(0, 0, 0, 50%);
}

/* общие стили */
a.link {
    color: var(--color-green);
    text-decoration: none;
    transition-timing-function: opasity .25s ease;
}

a.link:hover {
    opacity: 70%;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* header стили */

.header {
    position: relative;
    bottom: 80px;
    height: 110vh;
    background: url(../image/headerImg.jpg) center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 50% 100%, 0 83%);
}

.header-background {
    position: absolute;
    height: inherit;
    width: 100%;

    background: var(--background-black-opasity);

    z-index: 1;
}

.header-top {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 80px;

    background-color: var(--background-black-opasity);
    z-index: 3;
}

.header-top a.link {
    color: var(--color-white);
}

.logo {
    font-size: 36px;
    padding-right: 200px;
    padding-left: 50px;
}

.menu {
    color: var(--color-white);
}

.menu-element {
    margin-right: 30px;
    font-size: 20px;
}

.menu-element:last-child {
    margin-right: 0;
}

.menu-element a.link.active, .menu-element a.link:hover {
    color: var(--color-green);
}

.menu-element .home svg {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.header-center {
    position: relative;
    flex-direction: column;
    height: calc(100vh - 80px);

    color: var(--color-white);
    z-index: 2;
}

.header-center__wrapper {
    width: 100%;
    padding: 20px 0;

    background: var(--background-black-opasity);
    text-align: center;
}

.name {
    font-size: 56px;
    line-height: 70px;
}

.description {
    display: inline-block;
    width: 69ch;
    font-size: 26px;
    line-height: 1.5em;
    font-family: Courier, monospace;
    white-space: nowrap;
    border-right: 3px solid transparent;
    overflow: hidden;
    animation: cursor .75s 7s, print-text 6s steps(69);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: var(--color-white);
    }

    100% {
        border-color: transparent;
    }
}

@keyframes print-text {
    from {
        width: 0;
    }
}